{% extends "base_generic.html" %}

{% block content %}
    <h1>Lista de Empresas</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Local</th>
                <th>Telefone</th>
                <th>Data Registo</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
            <tr>
                <td>{{ company.1 }}</td> <!-- Nome -->
                <td>{{ company.2 }}</td> <!-- Email -->
                <td>{{ company.3 }}</td> <!-- Local -->
                <td>{{ company.4 }}</td> <!-- Telefone -->
                <td>{{ company.5 }}</td> <!-- Data de Registo -->
                <td>
                    <a class="btn btn-warning btn-sm" href="{% url 'edit_company' company.0 %}">Editar</a>
                    <button class="btn btn-danger btn-sm" onclick="alert('Eliminar emrpesa {{ company.0 }}')">Eliminar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
