{% extends "base_generic.html" %}

{% block content %}
    <h1>Lista de Eventos</h1>
    
    <!-- Botão para Criar Evento -->
    <div class="mb-3">
        <a href="{% url 'create_event' %}" class="btn btn-primary">Criar Novo Evento</a>
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Nome da Empresa</th>
                <th>Data</th>
                <th>Local</th>
                <th>Preço de Inscrição</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.1 }}</td>  <!-- Nome do Evento -->
                    <td>{{ event.2 }}</td>  <!-- Nome da Empresa -->
                    <td>{{ event.3 }}</td>  <!-- Data do Evento -->
                    <td>{{ event.4 }}</td>  <!-- Local -->
                    <td>{{ event.5 }}€</td>  <!-- Preço de Inscrição -->
                    <td>
                        <a class="btn btn-warning btn-sm" href="{% url 'edit_event' event.0 %}">Editar</a>  <!-- Passando o ID do Evento para a URL -->
                        <a class="btn btn-danger btn-sm" href="{% url 'delete_event' event.0 %}" onclick="return confirm('Tem certeza que deseja eliminar este evento?')">Eliminar</a>
                        <button class="btn btn-success btn-sm" onclick="alert('Inscrever no evento {{ event.1 }}')">Inscrever</button>
                        <a href="{% url 'event_details' event.0 %}" class="btn btn-info btn-sm">Detalhes</a>  <!-- Passando o ID do Evento para a URL -->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
