{% extends "base_generic.html" %}

{% block content %}
    <h1>Lista de Eventos</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Nome da Empresa</th>
                <th>Data</th>
                <th>Local</th>
                <th>Preço de Inscrição</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Conferência de Tecnologia</td>
                <td>Tech Innovations</td>
                <td>2024-05-15</td>
                <td>Auditório Central</td>
                <td>5€</td>
                <td>
                    <button class="btn btn-warning btn-sm" onclick="alert('Editar')">Editar</button>
                    <button class="btn btn-danger btn-sm" onclick="alert('Eliminar evento 1')">Eliminar</button>
                    <button class="btn btn-success btn-sm" onclick="alert('Inscrever em Conferência de Tecnologia')">Inscrever</button>
                    <a href="{% url 'event_details' %}" class="btn btn-info btn-sm">Detalhes</a> <!-- Botão de Detalhes -->
                </td>
            </tr>
            <tr>
                <td>Workshop de Desenvolvimento Web</td>
                <td>Web Solutions</td>
                <td>2024-06-20</td>
                <td>Centro de Convenções</td>
                <td>5€</td>
                <td>
                    <button class="btn btn-warning btn-sm" onclick="alert('Editar')">Editar</button>
                    <button class="btn btn-danger btn-sm" onclick="alert('Eliminar evento 2')">Eliminar</button>
                    <button class="btn btn-success btn-sm" onclick="alert('Inscrever em Workshop de Desenvolvimento Web')">Inscrever</button>
                    <a href="{% url 'event_details' %}" class="btn btn-info btn-sm">Detalhes</a> <!-- Botão de Detalhes -->
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
