{% extends "base_generic.html" %}

{% block content %}
    <h1>Lista de Eventos Inscritos</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Nome da Empresa</th>
                <th>Data</th>
                <th>Local</th>
                <th>Preço de Inscrição</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for evento in eventos_inscritos %}
                <tr>
                    <td>{{ evento.0 }}</td>  <!-- Nome do evento -->
                    <td>{{ evento.1 }}</td>  <!-- Nome da empresa -->
                    <td>{{ evento.2 }}</td>  <!-- Data do evento -->
                    <td>{{ evento.3 }}</td>  <!-- Local do evento -->
                    <td>{{ evento.4 }}€</td>  <!-- Preço de Inscrição -->
                    <td>
                        <!-- Formulário de Comentário -->
                        <form action="{% url 'add_comment' evento.5 %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <div class="form-group">
                                <textarea class="form-control" name="comentario" rows="2" placeholder="Digite seu comentário aqui..."></textarea>
                            </div>
                            <button type="submit" class="btn btn-warning btn-sm">Comentar</button>
                        </form>

                        <!-- Formulário de Avaliação -->
                        <form action="{% url 'add_rating' evento.5 %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="ratingSelect{{ evento.5 }}">Avaliar Evento</label>
                                <select class="form-control" name="avaliacao" id="ratingSelect{{ evento.5 }}">
                                    <option value="1">1 - Muito Mau</option>
                                    <option value="2">2 - Mau</option>
                                    <option value="3">3 - Razoável</option>
                                    <option value="4">4 - Bom</option>
                                    <option value="5">5 - Excelente</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success btn-sm">Avaliar</button>
                        </form>

                        <a href="{% url 'event_details' evento.5 %}" class="btn btn-info btn-sm">Detalhes</a>
                        <form action="{% url 'cancel_inscricao' evento.6 %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Cancelar Inscrição</button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6" class="text-center">Você não está inscrito em nenhum evento.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
