{% extends "base_generic.html" %}

{% block content %}
    <h1>Lista de Palestrantes</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Data de Nascimento</th>
                <th>Data de Registo</th>
                <th>Custo</th>
                <th>Data que Ficou Palestrante</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.0 }}</td> <!-- ID -->
                <td>{{ user.1 }}</td> <!-- Nome -->
                <td>{{ user.2 }}</td> <!-- Email -->
                <td>{{ user.3 }}</td> <!-- Data de Nascimento -->
                <td>{{ user.4 }}</td> <!-- Data de Registo -->
                <td>{{ user.5 }}€</td> <!-- Custo -->
                <td>{{ user.6 }}</td> <!-- Data que Ficou Palestrante -->
                <td>
                    <a class="btn btn-warning btn-sm" href="{% url 'edit_speaker' user.0 %}">Editar</a>
                    <button class="btn btn-danger btn-sm" onclick="alert('Eliminar palestrante {{ user.0 }}')">Eliminar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
